body {
	background-color: #d398c7;
	color: #576c9b;
	text-align: center;
}
h1 {
	font-family: arial;
	color: #576c9b;
}
h2 {
	font-family: arial;
	color: #576c9b;
}
p {
	font-family: arial;
	color: black;
}